<div class="sprint-protocols">
  @if (guidelines(); as g) {
    <div class="sprint-header">
      <h3>{{ g.phase }}</h3>
      <p>
        Weekly Sprint Volume:
        {{ g.weeklySprintVolume[0] }} -
        {{ g.weeklySprintVolume[1] }}
        sprints
      </p>
    </div>

    <div class="sprint-features">
      <div class="feature" [class.active]="g.accelerationWork">
        <i
          class="pi"
          [class.pi-check]="g.accelerationWork"
          [class.pi-times]="!g.accelerationWork"
        ></i>
        Acceleration Work
      </div>
      <div class="feature" [class.active]="g.maxVelocityWork">
        <i
          class="pi"
          [class.pi-check]="g.maxVelocityWork"
          [class.pi-times]="!g.maxVelocityWork"
        ></i>
        Max Velocity
      </div>
      <div class="feature" [class.active]="g.resistedSprints">
        <i
          class="pi"
          [class.pi-check]="g.resistedSprints"
          [class.pi-times]="!g.resistedSprints"
        ></i>
        Resisted Sprints
      </div>
      <div class="feature" [class.active]="g.flyingSprints">
        <i
          class="pi"
          [class.pi-check]="g.flyingSprints"
          [class.pi-times]="!g.flyingSprints"
        ></i>
        Flying Sprints
      </div>
    </div>

    <h4>Recommended Protocols</h4>
    <div class="protocols-list">
      @for (protocol of recommendedProtocols(); track protocol) {
        <p-chip [label]="protocol" class="protocol-chip"></p-chip>
      }
    </div>

    @if (avoidProtocols().length) {
      <h4>Avoid This Phase</h4>
      <div class="protocols-list avoid">
        @for (protocol of avoidProtocols(); track protocol) {
          <p-chip [label]="protocol" class="protocol-chip avoid"></p-chip>
        }
      </div>
    }
  }

  <div class="sprint-tips">
    <h4><i class="pi pi-flag"></i> Flag Football Sprint Tips</h4>
    <ul>
      @for (tip of tips(); track tip) {
        <li>{{ tip }}</li>
      }
    </ul>
  </div>
</div>
