<app-alert
  class="partial-data-notice"
  variant="info"
  [title]="message().title"
  [message]="message().reason"
  [icon]="message().icon || null"
>
  <div class="partial-data-notice__body">
    <p class="partial-data-notice__detail">
      Some players have not enabled data sharing. You can request access from individual players in the roster table.
    </p>
    <a [routerLink]="message().helpLink" class="partial-data-notice__link">
      <i class="pi pi-external-link" aria-hidden="true"></i>
      {{ message().actionLabel }}
    </a>
  </div>
</app-alert>
